<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Project04_SessionManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>firstServlet</display-name>
    <servlet-name>firstServlet</servlet-name>
    <servlet-class>com.firstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>firstServlet</servlet-name>
    <url-pattern>/firstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondServlet</display-name>
    <servlet-name>secondServlet</servlet-name>
    <servlet-class>com.secondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>summaryServlet</display-name>
    <servlet-name>summaryServlet</servlet-name>
    <servlet-class>com.summaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>summaryServlet</servlet-name>
    <url-pattern>/summaryServlet</url-pattern>
  </servlet-mapping>
</web-app>